html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  grid-area: footer;
  padding-left: 10px;
}

main.container{
  padding: 0;
  display: grid;
  width: 90%;
  max-width: 1000px;
  height: 90vh;
  max-height: 700px;
  background-color: lightgrey;
  grid-template-rows: 
    20% 
    1fr 
    2fr 
    .5fr 
    2fr 
    1fr 
    .25fr;
  grid-template-columns: 20% 30% auto;
  grid-template-areas:
    "message message message"
    "bet-btn bet-btn header"
    "side upper upper"
    "side rules rules"
    "side lower lower"
    "card-btn card-btn card-btn"
    "footer footer footer";
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
  margin: 0;
}

section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
  background-color: olivedrab;

}
#header--section{
  grid-area: header;
  background-color: #555;
}
#message--section{
  background-color: white;
  grid-area: message;
  flex-direction: column;
  padding: 20px;
  color: #444 ;
}

#play-deck--section{
  grid-area: side;
  flex-direction:  column;
  padding-left: 20px;
}

div#deck{
  margin:0
}
div#deck-stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  padding: 10px;
}

#play-upper--section{
  grid-area: upper;
  flex-direction: column;
}

#table-rules--section{
  grid-area: rules;
  flex-direction: column;
}

#play-lower--section{
  grid-area: lower;
  flex-direction: column;
}

#card-btns--section{
  background-color: #555;
  grid-area: card-btn;
  flex-direction: column;
  padding-top: 10px;
}

#bet-btns--section{
  background-color: #555;
  grid-area: bet-btn;
}

#footer--section {
  font-size: 16px;
  grid-area: footer;
  background-color: black;
}

#play-deck--section p{
  align-self: flex-end;
  color: white;
  margin: 3px;
}

#rule-container{
  border: 1px solid white;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#headline-message {
  color: #555;
  transition: color 2s;
}

#headline-message.player {
  color: green
}

#headline-message.dealer {
  color: red
}

#blackjack-rule-text{
  color: yellow;
}

#other-rule-text {
  color: whitesmoke;
  margin-bottom: 0;
}

#player-text {
  color: whitesmoke;
}

#mute-sound-btn, #hide-hints-btn{
  font-size: 11px;
  width: 90%;
}

#strategy-hint {
  margin-top: 10px;
}

meter{
  width: 100px;
}

.value-warning {
  color: red;
}

.hidden {
  opacity: .3;
  transition:opacity .5s;
  cursor: default;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  margin: 1vh;
  cursor: default;
}

.card.outline {
  border: 0.15em dashed green;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}


@media only screen and (max-width: 800px) {
  main.container{
    padding: 0;
    min-width: none;
    width: 100%;
    height: 90vh;
    grid-template-rows: 
      1fr 
      120px  
      1fr 
      3fr 
      2fr 
      3fr 
      90px 
      auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
      "message message"
      "bet-btn bet-btn"
      "upper upper"
      "rules rules"
      "lower lower"
      "card-btn card-btn"
      "footer footer";
  }
  div.medium{
    margin: 6px 3px;
  }
  h3{
    font-size: 16px;
  }
  #play-deck--section{
    display: none;
  }

  #game-message{
    font-size: 18px ;
  }
  #footer--section {
    font-size: 10px;
  }
}